<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>zero,</string>
	<key>00</key>
	<string>zero zero,</string>
	<key>1</key>
	<string>one,</string>
	<key>2</key>
	<string>two,</string>
	<key>3</key>
	<string>three,</string>
	<key>4</key>
	<string>four,</string>
	<key>5</key>
	<string>five,</string>
	<key>6</key>
	<string>six,</string>
	<key>7</key>
	<string>seven,</string>
	<key>8</key>
	<string>eight,</string>
	<key>9</key>
	<string>nine,</string>
	<key>A</key>
	<string>a,</string>
	<key>AC</key>
	<string>clear all</string>
	<key>AND</key>
	<string>bitwise end</string>
	<key>B</key>
	<string>b,</string>
	<key>Byte Flip</key>
	<string>flip bytes</string>
	<key>C</key>
	<string>c,</string>
	<key>D</key>
	<string>d,</string>
	<key>E</key>
	<string>e,</string>
	<key>F</key>
	<string>f,</string>
	<key>LShift</key>
	<string>[[emph -]] shift left by 1 bit</string>
	<key>LShiftY</key>
	<string>[[emph -]] shift x: y bits to the left</string>
	<key>NOR</key>
	<string>bitwise [[emph +]] nor</string>
	<key>OR</key>
	<string>bitwise ore,</string>
	<key>RShift</key>
	<string>[[emph -]] shift right by 1 bit</string>
	<key>RShiftY</key>
	<string>[[emph -]] shift x: y bits to the right</string>
	<key>RoL</key>
	<string>[[emph -]] rotate left</string>
	<key>RoR</key>
	<string>[[emph -]] rotate right</string>
	<key>ONES</key>
	<string>ones compliment</string>
	<key>TWOS</key>
	<string>twos compliment</string>
	<key>Word Flip</key>
	<string>flip words</string>
	<key>XOR</key>
	<string>bitwise exclusive [[emph +]] ore,</string>
	<key>clear</key>
	<string>clear,</string>
	<key>clear all</key>
	<string>clear all, </string>
	<key>divide</key>
	<string>[[emph -]] divided [[emph -]]by,</string>
	<key>enter</key>
	<string>enter,</string>
	<key>equals</key>
	<string>[[emph -]] equals, </string>
	<key>FF</key>
	<string>f f,</string>
	<key>minus</key>
	<string>[[emph -]] minus,</string>
	<key>plus</key>
	<string>[[emph -]] plus,</string>
	<key>times</key>
	<string>[[emph -]] times,</string>
	<key>oct_input</key>
	<string>octal [[emph -]] input</string>
	<key>hex_input</key>
	<string>hexadecimal [[emph -]] input</string>
	<key>dec_input</key>
	<string>decimal [[emph -]] input</string>
	<key>ascii_view</key>
	<string>ascii [[emph -]] view</string>
	<key>unicode_view</key>
	<string>unicode [[emph -]] view</string>
	<key>show_binary</key>
	<string>show binary,</string>
	<key>hide_binary</key>
	<string>hide binary,</string>
</dict>
</plist>
